
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-size: 1.6rem;
	text-align: center;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}
