<script>
</script>

<style>
    .footer {
        background-color: #24292e;
        color: white;
        padding-top: 1rem;
    }

    .footer-content {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

</style>

<footer class="footer">
    <div class="footer-content">
        <h1>Hecho con 💜 por 🐻 JbearP 🇨🇴</h1>
        <h2>Full Power by svelte</h2>
    </div>
</footer>
