<script>
</script>

<style>
    .header {
        background-color: #24292e;
        color: #fafafafa;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .header-logo {
        display: flex;
        align-items: center;
        color: #fafafafa;
    }

    .header-logo picture img {
        width: 10rem;
    }

    .header-logo img {
        width: 70px;
        cursor: pointer;
    }
</style>

<div class="header">
    <div class="header-container">
        <picture class="header-logo">
            <img
                src="https://i.ibb.co/rdF0Bhy/logo.png"
                alt="logo"
                border="0" />
        </picture>
        <h1>JbearP</h1>
    </div>
</div>
