<script>
	import Header from "./components/Header.svelte";
	import Footer from "./components/Footer.svelte";

	const gravity = 9.81;
	const forceGravity = 1.622;
	let weight = 0;
</script>

<style>
	.app-main {
		margin: 1rem 3rem;
		font-family: "Noto Sans JP", sans-serif;
	}

	.app-main label {
		display: grid;
		gap: 1rem;
		padding: 3rem;
	}

	.app-main label span {
		font-size: 1.6rem;
		text-align: center;
	}

	.app-main h1 {
		font-size: 2rem;
		color: #ff3e00;
		text-transform: uppercase;
	}

	.app-main p {
		font-size: 2rem;
		font-weight: 100;
		padding: 1rem;
		text-align: justify;
	}
</style>

<div class="app">
	<Header />
	<main class="app-main">
		<h1>Bienvenido</h1>
		<label for="peso">
			<span>Quieres conocer tu peso en la luna, solo escribe cuanto pesas
				y automaticamente se calculará</span>
			<input
				id="peso"
				type="number"
				bind:value={weight}
				placeholder="Escribe tu peso" />
		</label>

		{#if weight !== 0}
			<h2>{(weight / gravity) * forceGravity}</h2>
		{:else}
			<h2>Esperando que escribas un valor</h2>
		{/if}

		<p>
			El peso en la luna se calcula dividiendo el peso en la tierra por la
			fuerza de gravedad, el cuál en la tierra es 9,81m/s2. Esta operación
			nos da la masa del objeto. Una vez que tenemos la masa del objeto,
			podemos encontrar el peso multiplicándolo por la fuerza
			gravitacional a la que está sujeto. Siendo que la Luna tiene una
			fuerza gravitatoria de 1,622m/s2, multiplicamos la masa del objeto
			por esta cantidad para calcular el peso de un objeto sobre la luna.
		</p>

		<p>
			¿Qué causa las diferencias de peso entre los distintos planetas? La
			respuesta es la fuerza gravitacional a la que un planeta está
			sujeto. La Tierra tiene mucha más masa que la Luna. Por lo tanto, el
			sol tira de él con mayor fuerza, debido a la mayor masa. Usted
			probablemente está familiarizado con que la gravedad es una fuerza
			hacia abajo. Te empuja de vuelta a la superficie de la Tierra. Por
			eso, cuando saltas, vuelves a bajar. Siendo que la tierra tiene
			mayor fuerza gravitatoria, arrastra el objeto hacia abajo con mayor
			fuerza. Esto se traduce en un mayor peso.
		</p>
	</main>

	<Footer />
</div>
